<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Editar Usuario</title>
    <link rel="shortcut icon" href="/static/images/icono.jpg" /> 
    
    <link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="edit">
        <form action="{{ url_for('edit') }}" method="post" autocomplete="off">
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Contraseña" id="password" minlength="5" maxlength="10" required value="{{user['password']}}">
            <label for="nombre">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="nombre" placeholder="Nombre" id="nombre" required value="{{user['nombre']}}">
            <label for="apellido">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="apellido" placeholder="Apellido" id="apellido" required value="{{user['apellido']}}">
            <label for="localidad">
                <i class="fas fa-map-marker-alt"></i>
            </label>
            <input type="text" name="localidad" placeholder="Localidad" id="localidad" required value="{{user['localidad']}}">
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Modificar">
        </form>
    </div>
</body>
</html>